.buttons{

    display : grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows:repeat(4 , 50px);
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
.calculator{

    border: 10px solid black;
    width: 430px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.screen{

    width: 430px;
    height: 50px;
    background-color: #c48484;
    margin-bottom: 10px;
}